.inline-block {
    display: inline-block;
    vertical-align: top;
}
div.logo {
    width: 23%;
    padding: 1%;
}
nav {
    width: 73%;
    padding: 1%;
}
ul {
    width: 50%;
    margin-left: auto;
}
.logo {
    text-align: center;
}
/* body */
.heroImg {
    height: 600px;
    padding: 25px;
}
.content {
    width: 500px;
    margin: 0 auto;
}
/* footer */
footer {
    background-color: #373738;
}
ul li {
    padding: 25px;
}
footer ul {
    display: inline-block;
    vertical-align: top;
}